<%- include("header") -%>
<div id="intro" class="banner-image vh-100 d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="content text-center">
        <h1 class="text-white display-4 fw-bold">Welcome <%= name %> </h1>
        <h2 class="text-white fs-3 fw-bold">Experience new traditional game play</h2>
        <a href="/game"  class="playnow-button">
          <h3 class="text-black fs-6 fw-bold">PLAY NOW</h3>
        </a>
      </div>
    </div>
  </div>